<html>
<head>
	<title><%= title %></title>
	<meta charset="UTF-8">

		<link rel="stylesheet" href="/pcss/bootstrap.min.css"/>
		<script src="/pjs/jquery.min.js"></script>
		<script src="/pjs/tether.min.js"></script>
		<script src="/pjs/bootstrap.min.js"></script>

	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/font-awesome.css" rel="stylesheet">
	
	<style>
		*{border-radius: 0px !important}

	</style>

	<style>
		a.hover{
			color: red;
		}
	</style>


</head>

<body>
<div class="header" id="home">	
	<div class="banner_header_top_agile_w3ls">
			<div class="header-top-wthree-agileits">
				<nav class="navbar navbar-default">
  						<div class="navbar-header navbar-left">
  								<!-- <h1><a class="navbar-brand" href="/"> Football</a></h1> -->
						<a href="/" class="btn btn-success" style="background-color: red;top: 0;left: 0;position: absolute;width: 220px;height: 59px;text-align: center;font-size: 25px;font-family: sans-serif;padding-top: 10px;border: none;"><b>FOOTBALL</b></a>
						<nav>
							<a href="/" style="margin-left: 221px;position: absolute;top: 16px;color:#52220E; text-decoration: none;letter-spacing: 1px;" onMouseOver= "this.style.color='red'" onMouseOut="this.style.color='#52220E'">Home</a>
						</nav>  
					</div>

  			<h1> <%= teamname %></h1>


 <!--  <a href="/player" class="btn btn-success" style="background-color: red;width: 150px;margin-left: 0px;height: 56px;text-alignment:center">player</a>-->
 <div class="clearfix"></div>

</nav>
</div>
</div>
</div>
<br>
<br>


<div class="row">

        <div class="col-sm-3"><!--left col-->
                <img src="/images/<%= items[0].Player_ID %>.jpg" style="height: 200px;width: 200px;border-radius: 50%;margin-left:60px;position: absolute;" alt="avatar">
                <br><br><br><br><br><br><br><br><br>
                <h3 style="margin-left: 60px;"><%= items[0].firstname %> <%= items[0].lastname %></h3>

        </div><!--/col-3-->
        
    

    <div style="margin-left: 100px;width: 60%;">
		<h4 >&emsp;&emsp;&emsp;About</h4><br>
		<div class="row">
    		<div style="width: 15%">
                <label>Player ID</label>
            </div>
            <div style="width: 40%">
               <p> : &nbsp; <%= items[0].Player_ID %></p>
            </div>
        </div>
                                        

        <div class="row">
           <div style="width: 15%">
               <label>Age</label>
            </div>
            <div style="width: 40%">
                <p> : &nbsp;<%= items[0].Age %></p>
            </div>
         </div>

         <div class="row">
           <div style="width: 15%">
               <label>Country</label>
            </div>
            <div style="width: 40%">
                <p> : &nbsp;<%= items[0].Country %></p>
            </div>
         </div>

         <div class="row">
           <div style="width: 15%">
               <label>Position</label>
            </div>
            <div style="width: 40%">
                <p> :&nbsp; <%= items[0].Position %></p>
            </div>
         </div>

         <div class="row">
           <div style="width: 15%">
               <label>Rating</label>
            </div>
            <div style="width: 40%">
                <p> : &nbsp;<%= items[0].Rating %></p>
            </div>
         </div>

        <div class="row">
           <div style="width: 15%">
               <label>Height</label>
            </div>
            <div style="width: 40%">
                <p> : &nbsp;<%= items[0].Height %></p>
            </div>
         </div>

         <div class="row">
           <div style="width: 15%">
               <label>Price</label>
            </div>
            <div style="width: 40%">
                <p> : &nbsp;<%= items[0].Price %></p>
            </div>
         </div>
    </div>                             

 	

    <div style="width: 35%;position: fixed;right: 0px;">
		<h4>&emsp;Stats</h4><br>
		<div class="row">
    		<div style="width: 20%">
                <label>Appearances</label>
            </div>
            <div style="width: 10%">
               <p> : &nbsp; <%= stat[0].Appearances %></p>
            </div>
        </div>
                                        
         <div class="row">
    		<div style="width: 20%">
                <label>Goals</label>
            </div>
            <div style="width: 10%">
               <p> : &nbsp; <%= stat[0].Goals %></p>
            </div>
        </div>

        <div class="row">
    		<div style="width: 20%">
                <label>Key passes</label>
            </div>
            <div style="width: 10%">
               <p> : &nbsp; <%= stat[0].Key_passes %></p>
            </div>
        </div>

         <div class="row">
    		<div style="width: 20%">
                <label>Assists</label>
            </div>
            <div style="width: 10%">
               <p> : &nbsp; <%= stat[0].Assists %></p>
            </div>
        </div>

         <div class="row">
    		<div style="width: 20%">
                <label>Saves</label>
            </div>
            <div style="width: 10%">
               <p> : &nbsp; <%= stat[0].saves %></p>
            </div>
        </div>

         <div class="row">
    		<div style="width: 20%">
                <label>Clearances</label>
            </div>
            <div style="width: 10%">
               <p> : &nbsp; <%= stat[0].Clearances %></p>
            </div>
        </div>

        <div class="row">
    		<div style="width: 20%">
                <label>Clean sheets</label>
            </div>
            <div style="width: 10%">
               <p> : &nbsp; <%= stat[0].Clean_sheets %></p>
            </div>
        </div>
    </div>                                   
                 
  </div>

<br>
<br>

	
<!--

<div class="=" style="margin-right: 100px;margin-left: 100px">
	<div class="col s12">
		<% if(items.length > 0) { %>
			<table class="table">
				<thead>
					<tr>
						<th style="width:10%;text-align:center;">Player ID</th>
						<th style="width:30%;text-align:center;">Name</th>
						<th style="width: 15%;text-align: center;">Position</th>
						<th style="width: 15%;text-align: center;">Rating</th>
						<th style="width: 15%;text-align: center;">Country</th>
					</tr>
				</thead>
				<tbody>
					<% items.forEach(function(item,index){ %>
						<tr>
							<td style="width: 10%;text-align: center;"><%= item.Player_ID %></td>
							<td style="width: 30%;text-align:center;"><%= item.firstname %> <%= item.lastname %> </td>
							<td style="width: 15%;text-align: center;"><%= item.Position %></td>
							<td style="width: 15%;text-align: center;"><%= item.Rating %></td>
							<td style="width: 15%;text-align: center;"><%= item.Country %></td>
								
						</tr>
					<% }); %>
				</tbody>
			</table>
		<% }else{ %>
			<p><strong>There are no records available</strong></p>
		<% } %>
	</div>
</div>
-->
</body>
</html>

