<html>
<head>
	<title><%= title %></title>
	<meta charset="UTF-8">

		<link rel="stylesheet" href="/pcss/bootstrap.min.css"/>
		<script src="/pjs/jquery.min.js"></script>
		<script src="/pjs/tether.min.js"></script>
		<script src="/pjs/bootstrap.min.js"></script>

	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/font-awesome.css" rel="stylesheet">
	
	<style>
		*{border-radius: 0px !important}
	</style>


</head>

<body>
<div class="header" id="home">	
	<div class="banner_header_top_agile_w3ls">
			<div class="header-top-wthree-agileits">
				<nav class="navbar navbar-default">
  						<div class="navbar-header navbar-left">
  								<!-- <h1><a class="navbar-brand" href="/"> Football</a></h1> -->
						<a href="/" class="btn btn-success" style="background-color: red;top: 0;left: 0;position: absolute;width: 221px;height: 60px;text-align: center;font-size: 25px;font-family: sans-serif;padding-top: 10px;border: none"><b>FOOTBALL</b></a>  
					</div>

 			<h1> <%= teamname %></h1>
 <!--  <a href="/player" class="btn btn-success" style="background-color: red;width: 150px;margin-left: 0px;height: 56px;text-alignment:center">player</a>-->
 <div class="clearfix"></div>

</nav>
</div>
</div>
</div>
<br>
<br>
	
<div class="=" style="margin-right: 100px;margin-left: 100px">
	<div class="col s12">
		<% if(items.length > 0) { %>
			<table class="table">
				<thead>
					<tr>
						<th style="width:10%;text-align:center;">Player ID</th>
						<th style="width:30%;text-align:center;">Name</th>
						<th style="width: 15%;text-align: center;">Position</th>
						<th style="width: 15%;text-align: center;">Rating</th>
						<th style="width: 15%;text-align: center;">Country</th>
						<th style="width: 25%;text-align: center;">     </th>
					</tr>
				</thead>
				<tbody>
					<% items.forEach(function(item,index){ %>
						<tr>
							<td style="width: 10%;text-align: center;"><%= item.Player_ID %></td>
							<td style="width: 30%;text-align:center;"><%= item.firstname %> <%= item.lastname %> </td>
							<td style="width: 15%;text-align: center;"><%= item.Position %></td>
							<td style="width: 15%;text-align: center;"><%= item.Rating %></td>
							<td style="width: 15%;text-align: center;"><%= item.Country %></td>
							<td style="width: 25%;text-align: center;">
								<a href="/player/<%= item.Player_ID %>" class="btn btn-success" style="background-color: blue">Profile</a>
							</td>	
						</tr>
					<% }); %>
				</tbody>
			</table>
		<% }else{ %>
			<p><strong>There are no records available</strong></p>
		<% } %>
	</div>
</div>



</body>
</html>

